<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<appSettings>
		<add key="port" value="666" />
	</appSettings>
	<system.diagnostics>
		<sources>
			<source name="DynServer" switchValue="Verbose">
				<listeners>
					<add name="DynServer"/>
					<remove name="Default" />
				</listeners>
			</source>
			<source name="System.Net">
				<listeners>
					<add name="DynServer"/>
				</listeners>
			</source>
			<source name="System.Net.Cache">
				<listeners>
					<add name="DynServer"/>
				</listeners>
			</source>
			<source name="System.Net.Http">
				<listeners>
					<add name="DynServer"/>
				</listeners>
			</source>
			<source name="System.Net.Sockets">
				<listeners>
					<add name="DynServer"/>
				</listeners>
			</source>
			<source name="System.Net.WebSockets">
				<listeners>
					<add name="DynServer"/>
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="System.Net" value="Verbose"/>
			<add name="System.Net.Cache" value="Verbose"/>
			<add name="System.Net.Http" value="Verbose"/>
			<add name="System.Net.Sockets" value="Verbose"/>
			<add name="System.Net.WebSockets" value="Verbose"/>
		</switches>
		<sharedListeners>
			<add name="DynServer" type="System.Diagnostics.TextWriterTraceListener" initializeData="network.log" traceOutputOptions="DateTime" />
		</sharedListeners>
		<trace autoflush="true"/>
	</system.diagnostics>
</configuration>